$bgColor = #00bcd4
$darkTextColor = #666
$homeHotListTitleBackgroundColor = #eee
$homeHotListTitleLineHeight = 0.8rem
$headerDefaultFontColor = #fff
$headerDefaultIconColor = #fff
$headerDefaultColor = #fff
$backIconFontSize = 0.4rem
$headerLineHeight = 0.86 rem
$headerHeight = 0.86rem
$inputDefaultBorderRadius = 0.06rem
