$bgColor = #00bcd4
$darkTextColor = #666
$inputDefaultBorderRadius = 0.06rem
$buttonDefaultBorderRadius = 0.06rem

$homeHotListTitleBackgroundColor = #eee
$homeHotListTitleLineHeight = 0.8rem
$headerDefaultFontColor = #fff
$headerDefaultIconColor = #fff
$headerDefaultColor = #fff
$backIconFontSize = 0.4rem
$headerLineHeight = 0.86 rem
$headerHeight = 0.86rem

// city page
$cityListTitleBackgroundColor = #eee
$cityListTitleLineHeight = 0.4rem
$cityListTitleHeight = 0.4rem
$cityListTitleFontSize = 0.2rem
$cityListItemLineHeight = 0.76rem
